body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

.card {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

#liste-livres .livre {
  background: #e7f1ff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}
